* {
  box-sizing: border-box;
}

body {
  position: relative;
}

ul {
  list-style-type: none;
}

#alligator,
#leopard-gecko,
#lizard {
  width: 200px;
}
#alligator-figure {
  position: absolute;
  right: 0;
}
#leopard-figure {
  position: absolute;
  right: 300px;
}
#lizard-figure {
  position: absolute;
  left: 0;
}

.zweites-kapitel {position: absolute; bottom: 0;}

.zweites-kapitel {display: flex; flex-direction: reverse-row;}

.drittes-kapitel {display: none;}